.flexContainer {
  display: flex;
  justify-content: center;
}
.flexContainer2 {
  display: flex;
  justify-content: center;
}

button {
  width: 150px;
}
.row {
  border-bottom: 6px;
  margin-bottom: 8px;
  
}

.jumbotron {
  background-image: url("../img/friends2.jpg");
  color: #283747;
  margin:auto;
}
h1 {
  font-family: cursive ;
  font-weight: 900 ;

}

.forrows {
  background-image: url("../img/city.jpg");
  height: 500px;
  background-repeat: no-repeat;
}
body {
  margin : ;
}
.buttonnxt {
  background : #900C3F;

}
